<html>
  <head>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <section>
    <h1>MakersBNB</h1>
    <p>
      <a href= "/signup/new">Sign up to MakersBNB now</a>  
    </p>
    <br>
    <form method="POST" action="/login">
    <input type="text" name="email" placeholder="Email address">
    <br>
    <input type="password" name="password" placeholder="Password">
    <br><br>
    <input type="submit" value="Login">
    </form>
  </section>
  </body>
</html>