<html>
  <head><h1>MakersBNB</h1><a href="/">Home</a></head>
  <body>
    <h1>Log in below:</h1>
    <br />
    <form method="POST" action="/login">
    <label>Email address: </label>
    <input type="text" name="email" />
    <br />
    <label>Password: </label>
    <input type="text" name="password" />
    <br />
    <br /><br />
    <input type="submit" value="Log in now." />
    </form>
  </body>
</html>