<html>
  <head>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
  <section>
  <h1>Your login was unsuccessful!</h1>

  <p>Try again</p>
  <p>
    <form method="POST" action="/login">
      <input type="text" name="email" placeholder="Email address" />
      <br />
      <input type="password" name="password" placeholder="Password" />
      <br />
      <br /><br />
      <input type="submit" value="Log in now" />
    </form>
  </p>
  <br /><br />
  </section>
  </body>
</html>