<html>
  <head>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <section>
    <h1>MakersBNB</h1><a href="/">Return to login page</a>
    <h2>Fill in your details below to sign up</h2>
    <form method="POST" action="/signup">
    <input type="text" name="email" placeholder="Email address"/><br />
    <input type="text" name="first_name" placeholder="First name"/><br />
    <input type="text" name="last_name" placeholder="Last name"/><br />
    <input type="text" name="password" placeholder="Password"/><br />
    <br /><br />
    <input type="submit" value="I am ready to experience MakersBNB!" />
    </form>
  </section>
  </body>
</html>
