<html>
  <head>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <section>
    <h1>Your sign up was successful!</h1>
    <br /><br />
    <p>
      <a href= "/">Return to login page.</a>  
    </p>
  </section>
  </body>
</html>