<html>
  <head>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <section>
    <h1>Booking request sent.</h1>
    <a href='/spaces'>Go back to homepage</a>
  </section>
  </body>
</html>