<html>
  <head>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <section>
    <section></section>
    <h1>Your space was added!</h1>
    <br /><br />
    <p> Added <%= @space.name%></p>
    <p>
      <a href= "/">Return to homepage.</a>  
    </p>
    <p>
      <a href='/spaces/new'>List another space.</a>
    </section>    
  </body>
</html>